doctype html
head
  meta(charset='UTF-8')
  title Web Server
  style
    include style.css
form(method='Post')
  input#studentNameInput.input(type='text' name='name' placeholder='Student Name')
  input#gradeInput.input(type='text' name='percentgrade' placeholder='Grade')
  button(type='submit') Submit
#gradeDisplay
  h1 Grades
  ul
      for s in students
                li
                  span=s.name
                  span=s.percentgrade+'%'
                  span=s.lettergrade
                  a(href=`/update/${s.id}`).button Update
                  a(href=`/delete/${s.id}`).button Delete
